@page "{id:int}"
@model Namegiver.Pages.CharacterModel
@{
	ViewData["Title"] = "Character";
	Layout = "_Layout";
}

<form class="container" method="POST">
	@Html.AntiForgeryToken()
	<h2>Character</h2>
	<input type="hidden" name="NameId" value="@Model.Name.Id" />
	@{
		foreach (var nameInfo in Model.Name.Infos)
		{
			string nameId = "nameInput" + nameInfo.Id;
			string langId = "langInput" + nameInfo.Id;
			<div class="row">
				<div class="col-sm-1">
					<label for="@langId">Language</label>
					<select id="@langId" name="@langId">
						<option value="@nameInfo.Language">@nameInfo.Language</option>
					</select>
				</div>
				<div class="col">
					<label for="@nameId">Name</label>
					<input type="text" class="form-control" id="@nameId" name="@nameId" placeholder="Character name" value="@nameInfo.Name" />
				</div>
			</div>
		}
	}

	<div class="row">
		<div class="col">
			TODO: Add name...
		</div>
	</div>

	<div class="row">
		<div class="col">
			<img class="img-rounded img-character" src="@Model.Name.Properties.ImageUrl" alt="Character profile image" />
		</div>
	</div>

	<div class="row">
		<div class="col">
			<a href="@Model.Name.Properties.InfoUrl" target="_blank">More information</a>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<a href="/@Model.NameInfoId">Go back</a>
		</div>
		<div class="col text-right">
			<input type="submit" class="btn btn-primary" value="Submit" />
		</div>
	</div>

</form>